/* Demas Nwoko - Main Stylesheet - main_3.css */
@font-face {
    font-family: 'MyFont';
    src: url('NewCulture-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --nc-black: #0a0a0a;
    --nc-gold: #f4a036;
    --nc-white: #ffffff;
    --nc-gray_purple: #1c182e;
    --nc-green: #039641;
    --nc-orange: #fc6c02;
    --nc-red: #cd0900;
    --heading-font: 'MyFont';
    --body-font: 'Inter', sans-serif, 'system-sans';
}

body {
    margin: 0;
    font-family: var(--body-font);
    background-color: var(--nc-white);
    color: var(--nc-black);
    line-height: 1.6;
    font-size: 16px;

}

header, .hero, .story {
    width: 100%;
    box-sizing: border-box;
}

/* Header Styles */
header {
    background-color: var(--nc-black);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: sticky;
    background: var();
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header .logo {
    height: 50px;
}

/* Hero Section Styles */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    background-color: var(--nc-white);
    color: var(--nc-black);
    font-style: var(--heading-font);
}

.hero-content h1, .hero-content h2 {
    margin: 0.5rem 0;
}

img.hero-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
    -webkit-animation-delay: 10ms;
    animation-delay: 10ms;
    -webkit-filter: blur(5px);
    filter: blur(5px);
}

/* Story Section Styles */
.story {
    padding: 2rem;
    background-color: var(--nc-black);
    color: white;
}

.story h1, .story h2 {
    color: var(--nc-gold);
}

.story p {
    line-height: 1.6;
}

.story-sub {
    font-style: italic;
    margin-top: 1rem;
}